# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Data and Vector DB
data/vector_db/index.faiss
data/vector_db/chunks.pkl
data/*.pdf

# Streamlit
.streamlit/
